.input-container {
  margin: 10px 0;
  /* background-color: yellow; */
  width: 100%;
}


.input-label {
  display:block;
  margin-bottom: 3px;
  font-size: 14px;
  text-align: left;
}

.input-field {
  font-family: 'Poppins';
  font-size: 12px;
  width: 100%;
  max-width: 700px;
  padding: 7px;
  background: #efefef;
  border: none;
  border-radius: 4px;
}
